<h2>About</h2>
<p>Use this website to keep a record of your favorite hotels, and feel free to add
  a review to let other user's know how you feel about a hotel. You have the opportunity to
  sign up to gain increased access within the website.</p>
  <hr>
  <input matInput type="text" placeholder="Search A Hotel" [(ngModel)]="searchWord">
  <hr>

<mat-accordion multi="true" *ngIf="hotels.length > 0">
  <mat-expansion-panel *ngFor="let hotel of hotels | hotelFilter:searchWord">
    <mat-expansion-panel-header>
     Hotel {{ hotel.title }} in {{ hotel.artist }}
    </mat-expansion-panel-header>
      <p>District: {{ hotel.album }} <br>
         Basic Room Rent: {{ hotel. year}} <br>
         Description: {{ hotel.comment }} <br>
         Hotel Type: {{hotel.track }} <br>
         Popular Amenities: {{ hotel.genre }} <br>
    </p>
    <hr>
    <div *ngFor="let review of reviews">
      <span *ngIf="review.hotelName === hotel.title">
        <strong>Rating: </strong>{{ review.rating }}
        <br>
        <strong>Review: </strong>{{ review.review }}
        <br>
        <strong>From user: </strong>{{ review.username }}
        <hr>
      </span>
    </div>
    <mat-action-row *ngIf="userIsAuthenticated || adminIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/review-create', hotel.id]">Add a Review</a>
         <span *ngIf="adminIsAuthenticated">
           <button  mat-button color="warn" (click)="onDelete(hotel.id)">Delete Hotel</button>
         </span>
    </mat-action-row>     
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="hotels.length <= 0">No Hotels yet</p>
